#user-name {
  font-size: 20px;
  color: black;
  margin: 0 auto;
}

/* Table Style */
.table-wrap {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 black;
  margin-top: 10%;
  min-width: 580px;
}

#status_1 {
  color: green;
}

#status_2 {
  color: red;
}

#status_5 {
  color: orange;
}